{% extends "base.html" %}

{% block title %}Painel do Admin - Progresso das Equipes{% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename='assets/logo_redondo.svg') }}" alt="Logo da Missão" class="login-logo">
    <h1>Relatório de Progresso dos Esquadrões</h1>

    <table class="progress-table">
        <thead>
            <tr>
                <th>Ranking</th>
                <th>Esquadrão</th>
                <th>Progresso da Missão</th>
            </tr>
        </thead>
        <tbody>
            {% for team in ranking %}
            <tr class="{% if loop.index <= 3 %}top-rank{% endif %}">
                <td>#{{ loop.index }}</td>
                <td>{{ team.name }}</td>
                <td>
                    <div class="progress-bar-container">
                        <div class="progress-bar" style="width: {{ team.progress|int }}%;">
                            {{ "%.2f"|format(team.progress) }}%
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}