{% extends "base.html" %}

{% block title %}Checklist - {{ session.team_name }}{% endblock %}

{% block content %}
    <div id="countdown"></div>
    
    <h1>Checklist da Missão: {{ session.team_name }}</h1>
    
    <ul>
    {% for item in items %}
        <li>
            <input type="checkbox" 
                   id="item-{{ item.id }}" 
                   data-item-id="{{ item.id }}" 
                   {% if progress_map[item.id] %}checked{% endif %}
                   onchange="updateItem(this)">
            <label for="item-{{ item.id }}">{{ item.description }}</label>
        </li>
    {% endfor %}
    </ul>
    
    <a href="{{ url_for('logout') }}">Sair</a>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}